html,body{
	width: 100%;height: 100%;
	margin: 0;padding: 0;
	/*background-color: #eee;*/
}
header{
	/*background-color: blue;*/
	height: 70px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	user-select:none; 
} 
header span{
	/*line-height: 70px;*/
	font: 25px/70px "微软雅黑";
	cursor: default;
}
header .me_btn{
	display: block;
	position: absolute;
	width: 70px;height: 70px;
	right: 0;top: 0;
	font: 35px/70px "微软雅黑";
	border-left: 1px solid #ddd;
	cursor: pointer;
}
header .me_btn:hover{
	color: #4876FF;
}
.title_list{

}