
body,html{
	background-color: #fff;
	padding: 0;
	margin:0;
	overflow: hidden;
} 



#div1{
	/*flex: 1;*/
	width: 200px;
	display: inline-block;
	height: 70px;
	background-color: #292;
	position: absolute;
	opacity: 0;
	padding: 0;
	/*float: left;*/
	left: 0;
	top: 70px;
	cursor: default;
	letter-spacing: 15px;


}
#div2{
	padding: 0;
	display:inline-block;
	/*display: none;*/
	width: 100px;
	height: 70px;
	background-color: #929;
	position: absolute;
	opacity: 0;
	left: 50%;
	margin-left: -400px;
	top: -70px;
	cursor: default;
}
/*#div3{
	

	width: 200px;
	display: inline-block;
	height: 70px;
	background-color: #299;
	position: relative;
	opacity: 0;
	top: 70px; 
	
	
}*/
#div11{
	height: 500px;
	background-color:#292; 
	opacity:0;
	display: none;
	position: absolute;
	/*float: left;*/
	top:70px;
	border-top-color: #282;
	border-top-width: 3px;
	border-top-style: solid;
	overflow: hidden;
	z-index: 1;
}

#div33{
	height: 500px;
	background-color:#299; 
	opacity:0;
	display: none;
	position: absolute;
	right: 0px;
	top: 70px;
	border-top-color: #289;
	border-top-width: 3px;
	border-top-style: solid;
	overflow: hidden;
	z-index: 1;

}
.nav-font{
	/*line-height: 100px;*/
	font: 30px/70px "微软雅黑";
	color: rgb(220,220,220);
	text-align: center;
}

#div11 ul{
	display: inline-block;
	padding: 0;
	margin:0 ;
	height: 500px;
	overflow-y: auto;
	overflow-x:hidden;
	text-align: center;
}
#div11 ul li{
	display: block;
	border-color: #2b2;
	border-bottom-width: 2px;
	/*border-top-width: 2px;*/
	border-bottom-style: solid;
	/*border-top-style: dotted;*/
	height: 70px;
	width: 200px;
	cursor: pointer;
	/*position: relative;*/
	/*left: -4px;*/
}

#div11 ul li:hover{
	background-color: #2b2;
	border-bottom-color: #2b2;
}

#div22{
	display:none;
	width: 800px;
	height: 500px;
	background-color: #929;
	position: absolute;
	opacity: 0;
	left: 50%;
	margin-left: -400px;
	top: 70px;
	z-index: 1;
}

#div3{
	display: block;
	position: absolute;
	top: 70px;
	background-color: #299;
	height: 70px;
	line-height: 70px;
	font: 23px/70px "微软雅黑";
	color: #ddd;
	/*float: right;*/
	right: 0;
	opacity: 0;
	cursor: default;
	/*padding-left: 30px;*/
	}
#div3 input{
		display: inline-block;
		width: 50px;
		height: 38px;
		border-width: 0px;
		font: 20px/40px "微软雅黑";
		background-color: #5aa;

	}

	#div33 ul{
	display: inline-block;
	padding: 0;
	margin:0 ;
	height: 500px;
	overflow-y: auto;
	overflow-x:hidden;
	text-align: center;
}
#div33 ul li{
	display: block;
	border-color: #2b9;
	border-bottom-width: 2px;
	/*border-top-width: 2px;*/
	border-bottom-style: solid;
	/*border-top-style: dotted;*/
	height: 70px;
	width: 200px;
	cursor: pointer;
	/*position: relative;*/
	/*left: -4px;*/
}

#div33 ul li:hover{
	background-color: #2b9;
	border-bottom-color: #2b9;
}

#content-wrap{
	display: inline-block;
	background-color: #cb9;
	position: absolute;
	top: 1770px;
	left: 0;
	/*opacity: 1;*/
	/*-webkit-flex-direction: row;*/
	/*overflow: auto;*/
}

#content-wrap div{
	position: absolute;
	
}
#share-wrap{
	
	height: 600px;
	width: 100px;
	/*background-color: #123;*/
	/*border-right-width: 1px;
	border-right-color: #986;
	border-right-style: solid; */

}

#content{
	width: 800px;
	/*background-color: #456;*/
	left: 50%;
	margin-left: -400px;
	overflow: hidden;
	/*	border-left-width: 1px;
	border-left-color: #986;
	border-left-style: solid;*/
	
}
#comment-wrap{
	/*background-color: #789;*/
	/*border-left-width: 1px;
	border-left-color: #986;
	border-left-style: solid;*/
	right: 0;

}


#content-scroll{
	background-color: #cb9;
	position: relative;
	width: 820px;
	/*height: 800px;*/
	overflow: auto;
	/*padding-left: 50px;
	padding-right: 50px;*/
	}

	#content-scroll p{
		margin: 0px 30px;
	}

	#content-scroll h1{
		margin: 30px 30px;
	}

/*div{
	width: 200px;
	height: 200px;
	display: block;
	opacity: 0.7;
}

#d1{
	position: absolute;
	background-color: #888;
	top: 250px;
}

#d2{
	position: relative;
	background-color: #f00;
	top: 150px;
	left: 50px;
	width: 200px;
	height: 200px;
}

#d3{
	position: relative;
	background-color: #00c;
	
	left: 200px;
	width: 200px;
	height: 200px;
}*/

.content-p-font{
	font: 25px/40px "微软雅黑";
	color: #666;
}
.content-h-font{
	font: 35px/50px "微软雅黑";
	color: #444;
	text-align: center;
}
#rightImage{
	position: absolute;
	right: -500px;
	
}
#leftImage{
	position: absolute;
	left: -500px;
}